<!--Footer-->
<style>
.footer{
  position: static;
  bottom: 0;
}
</style>
<footer class="section bg-secondary text-light footer">
  <div class="container padding20">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">DREAM Challenge Schema Explorer</h5>
      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">Contact US</h5>
        <a class="d-block text-light" target="_blank" href="mailto:mnikolov@sagebase.org">Email</a>

      </div>
      <div class="col-sm-12 col-md-4">
        <h5 class="lighter">Contribute</h5>
        <a class="d-block text-light" target="_blank" href="https://github.com/Sage-Bionetworks/MIAC-schema"><i class="fab fa-github"></i> GitHub</a>

      </div>
    </div>
    <!-- <p class="rights text-light text-center" style="margin:0px;">
      <small>
        <span>©  </span><span class="copyright-year"><span id="year"></span></span><span> </span><span>All Rights Reserved.</span>
      </small>
    </p>
   -->
  </div>
</footer>
<script>
var currentTime = new Date()
var year = currentTime.getFullYear()
var myelement = document.getElementById("year");
    myelement.innerHTML= year;
</script>
